nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;
  height: 100vh;

  padding: 2rem;

  background: #202024;;

  > span {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #04d361;

    p {
      display: inline;
      color: var(--white);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}